
<h1>Carrito</h1>



    {{#if cart.products}}
    {{#each cart.products}}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0" id={{this.id_prod._id}}>
    <div class="col-md-4">
      <img src="{{this.id_prod.thumbnails}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <div>
          <h5 class="card-title">{{this.id_prod.title}}</h5>
          <p class="card-text">Quantity: {{this.quantity}}</p>
          <p class="card-text"><small class="text-body-secondary">Price: <span>{{this.id_prod.price}}</span>€</small></p>
        </div>
        <div>
          <button class="delete-product btn btn-primary">x</button>
        </div>

      </div>
    </div>
  </div>
</div>
    {{/each}}
    {{/if}}

<button class="btn btn-primary" id="empty-cart">Vaciar Carrito</button>

<h3 >Total: <span id="total-cart">{{totalAmount}}</span>€</h3>
<button class="btn btn-primary" id="btn-checkout">Terminar Compra</button>


{{!-- 
  Cambiar el quantity del cart, no muesrta su cantidad al agregar el producto
 --}}