
    <h1>Nuestros Productos</h1>

<div class="container mt-5">
    <div class="row">
            {{#each products.docs}}
            <div class="col-md-3 mb" >
                <div  class="card h-80 shadows-md" >
                        <img src={{this.thumbnails}} alt="" 
                        class="card-img-top rouned img-fluid object-fit-scale">
                    <div class="card-body" id="{{this._id}}">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text">Price: {{this.price}}€</p>
                        <p class="card-text">Stock: {{this.stock}}</p>
                        <a href="/product/{{this.id}}">Ver Producto</a>
                        <div class="box-quantity">
                            <button class="btn btn-primary btn-less">-</button>
                            <p class="card-text" class="p-quantity">1</p>
                            <button class="btn btn-primary btn-plus">+</button>
                        </div>
                        <button class="btn btn-primary button " type="button" >Agregar al carrito</button>
                    </div>
                </div>
            </div>
            {{/each}}
    </div>

    {{!-- paginacion  --}}
    <nav aria-label="Page Navigation">
        <ul class="pagination justify-content-center">
            {{#if products.hasPrevPage}}
            <li class="page-item">
                <a  class="page-link" href="http://localhost:8080/?page={{products.prevPage}}&limit={{products.limit}}" aria-label="Previus">
                    <span aria-hidden="true">
                        &laquo;
                    </span>
                </a>
            </li>
            {{/if}}
             {{#each products.pageNumbers}}
                <li class="page-item {{#if this.isCurrent}} active {{/if}}">{{!--   --}}
                    <a class="page-link" href="http://localhost:8080/?page={{this.number}}&limit={{../products.limit}}">{{this.number}}</a>
                </li>
                {{/each}}
                {{#if products.hasNextPage}}
                <li class="page-item">
                    <a href="http://localhost:8080/?page={{products.nextPage}}&limit={{products.limit}}" aria-label="Next" class="page-link">
                        <span aria-hidden="true ">
                            &raquo;
                        </span>
                    </a>
                </li>
                {{/if}}
        </ul>
    </nav>
</div>

